@import "../misc/vars";

#app {
  height: 100vh;
  width: 100%;

  .home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media screen and (min-width: $breakpoint-l) {
      flex-direction: row;
    }

    #logo {
      @media screen and (min-width: $breakpoint-l) {
        width: $base-unit * 10;
        right: initial;
        left: calc(50% - #{$base-unit * 5});
      }
    }

    > .pan {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: middle;
      cursor: pointer;
      transition: flex-grow .3s;

      &:hover {
        .cat .cat-img {
          transform: translateY(-1px);
          box-shadow: 0px ($base-unit / 3) 20px rgba(0,0,0,0.4);
        }
      }

      .cat {
        animation: .3s linear a-fade-in;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
      }
    }
  }

  .special {
    background-color: $main-blue;
    color: white;
  }
}

@keyframes a-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}