
#app {
  .leadboard {
    #logo {
      position: absolute;
    }

    .first {
      zoom: 1.3;
    }

    .second {
      zoom: 1.2;
    }

    .third {
      zoom: 1.1;
    }

    color: $light-blue;

    .cat {
      padding: ($base-unit /2) $base-unit;
      display: flex;
      align-items: center;
      .cat-img {
        border: 0px;
        width: 2em;
        height: 2em;
      }
      border-bottom: 1px solid $light-blue;

      p {
        padding: $base-unit;
      }
    }
  }
}