#logo {
  position: fixed;
  width: $base-unit * 4;

  @media screen and (min-width: $breakpoint-l) {
    width: $base-unit * 10;
    right: initial;
    left: calc(50% - #{$base-unit * 5});
  }

  top: 0px;
  right: $base-unit;

  fill: blue;
}