@import "../misc/vars";

.nav-link {
  line-height: $base-unit;
  display: block;
  position: fixed;
  bottom: - $base-unit * 3;
  right: $base-unit;

  @media screen and (min-width: $breakpoint-l) {
    right: initial;
    left: calc(50% - #{$base-unit * 4});
  }

  text-decoration: none;
  color: $main-cta;
  background-color: white;
  border-radius: $base-unit;
  width: $base-unit * 8;
  padding: ($base-unit * 1.5) 0px ($base-unit * 4);
  text-align: center;
  font-weight: bold;

  box-shadow: 0px -4px 20px rgba(0,0,0,0.3);
  transition: bottom 0.3s;

  &:hover {
    bottom: - $base-unit * 1.5;
  }
}