@import '../misc/vars';

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold;
  color: $light-blue;
}

h1 {
  font-size: 3em;
  display: block;
  width: 100%;
}

h4 {
  font-size: 1.6em;
  display: none;

  @media screen and (min-width: $breakpoint-l) {
    display: block;
  }
}

.page-title {
  width: 100%;
  position: fixed;
  top: calc(50% - 1.5em);

  @media screen and (min-width: $breakpoint-l) {
    top: $base-unit * 10;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: 100%;
  }
}